@import "tailwindcss";

body {
    font-family: 'Inter', sans-serif;
    background-color: #050511;
    color: #f8fafc;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
